
$palette-base: (
        bg: linear-gradient(to bottom, #6978ff, #7776ff, #8474ff, #9071ff, #9c6eff, #9865f2, #935ce5, #8e53d8, #7944bc, #6435a0, #502686, #3d186c),
        primary: #2C2C2C,
        secondary: #C4FF48,
        tertiary : #CFD9E0,
        quaternary : #67728A,
        white: #ffffff,
        black: #000000,
        danger: #FF007F,
)
//#FF007F, #FF69B4, #E75480
//#8C1C9C, #660066, #5E2D79
