.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #242155a6;
  z-index: 21;

  img {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: rotate 1s linear infinite;
    background-color: white;
  }
}

@keyframes rotate {
  0% {
    transform-origin: center center;
    transform: rotate(-360deg) scale(1);
  }
  50% {
    transform-origin: center center;
    transform: rotate(-180deg) scale(0.8);
  }
  100% {
    transform-origin: center center;
    transform: rotate(0) scale(1);
  }
}
