$secondary: map-get($palette-base, secondary);
$tertiary: map-get($palette-base, tertiary);

.nav {
  background-color: #3d186c;
  width: 100%;
  max-width: 500px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  padding: 13px 0;
  border-top: solid 1px $tertiary;
}
