$primary: map-get($palette-base, primary);
$tertiary: map-get($palette-base, tertiary);
$quaternary: map-get($palette-base, quaternary);
$white: map-get($palette-base, white);

.workout-item {
  margin-bottom: 40px;
   &.hidden {
     .workout-item__icon {
         background-color: $secondary;
     }
     .workout-item__sets-wrapper {
       display: none;
     }

     .btn {
       display: none;
     }
   }

  &__info {
    display: flex;
    justify-content: space-between;

    p {
      text-align: left;
      font-weight: 700;
      font-size: 17px;
    }
  }

  &__info &__exercise-name p, &__sets p {
    margin-bottom: 0;
  }

  &__exercise-name {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__icon {
    width: 20px;
    margin-right: 10px;
    border: solid 1px $secondary;
    border-radius: 5px;
    cursor: pointer;
  }
}
