.workout-history {
  width: 100%;
  padding-bottom: 92px;
  overflow: auto;

  h1, h2 {
    margin-bottom: 20px;
    text-align: left;
  }

  &__select {
    margin-bottom: 20px;
  }

  &__best-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;

    h2,p {
      margin-bottom: 0;
    }
  }

  &__best {
    margin-bottom: 5px;
  }

  &__results-header {
    background-color: darkgrey;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;

    span {
      flex: 1;
    }
  }

  &__result-row {
    //background-color: white;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    //background-color: hsl(79, 100%, 64%);


    span {
      flex: 1;
    }
  }

  &__btns-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .btn__btn {
      opacity: 0.5;
      font-size: 14px;
    }

    .btn {
      flex: 1 1 0;
      margin: 0 5px;

      &:nth-child(1) {
        margin-left: 0;
      }

      &:nth-child(3) {
       margin-right: 0;
      }

      &.active {
        .btn__btn {
          border-color: $secondary;
          opacity: 1;
        }
      }
    }
  }
}
