.workout-history {
  width: 100%;
  padding-bottom: 92px;
  overflow: auto;

  h1, h2 {
    margin-bottom: 20px;
    text-align: left;
  }

  &__select {
    margin-bottom: 20px;
  }

  &__best {
    margin-bottom: 5px;
  }

  &__results-header {
    background-color: darkgrey;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;

    span {
      flex: 1;
    }
  }

  &__result-row {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;

    span {
      flex: 1;
    }
  }

  &__btns-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .btn__btn {
      opacity: 0.5;
    }

    .btn {
      &.active {
        .btn__btn {
          border-color: $secondary;
          opacity: 1;
        }
      }
    }
  }
}
